:root {
  /* Color */
  --color-white: white;
  --color-pink: rgb(255, 158, 174);
  --color-light-grey: rgb(202, 202, 202);
  --color-black: rgb(39, 39, 39);

  /* Font-Size */
  --font-size-large: 48px;
  --font-size-medium: 24px;
  --font-size-small: 20px;
}

* {
  font-family: 'KoHo', sans-serif;
}

body {
  margin: 50px;
  display: block;
  color: var(--color-white);
}

input {
  width: 300px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid var(--color-black);
}

h1 {
  font-size: var(--font-size-large);
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

#clock span {
  font-weight: bold;
  font-size: var(--font-size-medium);
}

#clock h1 {
  font-size: var(--font-size-large);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
